[submodule "packages/browser"]
	path = packages/browser
	url = git@github.com:elm-janitor/browser.git
	branch = stack-1.0.2
[submodule "packages/bytes"]
	path = packages/bytes
	url = git@github.com:elm-janitor/bytes.git
	branch = stack-1.0.8
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:elm-janitor/core.git
	branch = stack-1.0.5
[submodule "packages/file"]
	path = packages/file
	url = git@github.com:elm-janitor/file.git
	branch = stack-1.0.5
[submodule "packages/http"]
	path = packages/http
	url = git@github.com:elm-janitor/http.git
	branch = stack-2.0.0
[submodule "packages/json"]
	path = packages/json
	url = git@github.com:elm-janitor/json.git
	branch = stack-1.1.3
[submodule "packages/parser"]
	path = packages/parser
	url = git@github.com:elm-janitor/parser.git
	branch = stack-1.1.0
[submodule "packages/project-metadata-utils"]
	path = packages/project-metadata-utils
	url = git@github.com:elm-janitor/project-metadata-utils.git
	branch = stack-1.0.2
[submodule "packages/random"]
	path = packages/random
	url = git@github.com:elm-janitor/random.git
	branch = stack-1.0.0
[submodule "packages/time"]
	path = packages/time
	url = git@github.com:elm-janitor/time.git
	branch = stack-1.0.0
[submodule "packages/virtual-dom"]
	path = packages/virtual-dom
	url = git@github.com:elm-janitor/virtual-dom.git
	branch = stack-1.0.3
