[submodule "packages/browser"]
	path = packages/browser
	url = git@github.com:elm-janitor/browser.git
	branch = stack-1.0.2
[submodule "packages/bytes"]
	path = packages/bytes
	url = git@github.com:elm-janitor/bytes.git
	branch = stack-1.0.8
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:elm-janitor/core.git
	branch = stack-1.0.5
[submodule "packages/file"]
	path = packages/file
	url = git@github.com:elm-janitor/file.git
	branch = stack-1.0.5
[submodule "packages/parser"]
	path = packages/parser
	url = git@github.com:elm-janitor/parser.git
	branch = stack-1.1.0
